.navbar {
  background-color: #fff;
  color: #111;
  padding: 15px 20px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  margin-right: 10px;
  padding-inline: 1rem;
}

.navbar li a {
  color: #111;
  font-weight: 700;
  text-decoration: none;
  font-size: 18px;
}

.navbar li a:hover {
  text-decoration: underline;
}

.navbar-right .name {
  color: #111;
  font-weight: 800;
  /* line-height: 1.5rem; */
  padding-inline-end: 16px;
}

.logout {
  font-size: 1rem;
  height: 1.5rem;
  border-radius: 6px;
  background-color: lightcoral;
}

.login {
  font-size: 1rem;
  height: 1.5rem;
  border-radius: 6px;
  background-color: lightgreen;
}

.navbar-right a {
  text-decoration: none;
  color: #111;
  font-weight: bold;
}
