body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form {
  margin-bottom: 20px;
  /* margin: 0% 15%; */
}

.form-group {
  margin-bottom: 15px;
  margin-right: 5%;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-control:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  margin-bottom: 15px;
}

.item-list {
  list-style: none;
  padding: 0;
  /* margin: 2% 14%; */
}

.item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.item h3 {
  margin: 0 0 5px;
  font-size: 1.2em;
}

.item p {
  margin: 0;
}

.btn-Container {
  margin-top: -5%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.btn-edit,
.btn-del {
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-edit:hover,
.btn-del:hover {
  background-color: #f0f0f0;
  transform: scale(1.1);
}

.btn-edit svg,
.btn-del svg {
  width: 20px;
  height: 20px;
  color: #333;
}

.btn-edit:hover svg,
.btn-del:hover svg {
  color: #007bff; /* Change color on hover for edit button */
}

.btn-del:hover svg {
  color: #ff0000; /* Change color on hover for delete button */
}
