<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./login.css" />
    <title>Login</title>
  </head>
  <body>
    <div class="login-container">
      <h1>Login</h1>
      <form action="/login" method="post">
        <label>Email</label>
        <input type="text" required name="email" />
        <label>Password</label>
        <input type="text" required name="password" />
        <button type="submit">Login</button>
        <button type="submit"><a href="/vendorRegister">Signup</a></button>
      </form>
    </div>
  </body>
</html>
