* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, "Poppins", Helvetica, sans-serif;
  margin: 20px;
  padding: 12px;
}

.Container {
  margin: 1rem;
  padding: 12px 20px;
  border: 1px solid black;
}

.post-container {
  border: 1px solid black;
  margin: 20px;
  padding: 20px;
  box-shadow: 5px 5px #777;
}

.post-container p {
  line-height: 1.35;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: justify;
}
