* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #333;
  padding: 1em;
}

.navList {
  list-style: none;
  display: flex;
  justify-content: end;
  column-gap: 5em;
}

.navList a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s;
}

.navList a:hover {
  color: #ff6347;
}

.sidebar {
  width: 80px;
  height: 100vh;
  background-color: #333;
  padding: 1em;
}

.sidebarList {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4rem;
}

.sidebarList a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s;
}

.sidebarList a:hover {
  color: #ff6347;
}

h1,
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -40%;
}
