<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/navbar.css" />
  </head>
  <body>
    <nav class="navbar">
      <ul>
        <li><a class="active" href="/index">Home</a></li>
        <li><a href="/order">My Order</a></li>
      </ul>
      <div class="navbar-right">
        <% if (user) { %>
        <span>Hello, <%= user.name %>!</span>
        <button class="logout">
          <a href="/logout">Logout</a>
        </button>
        <% } else { %>
        <button class="login">
          <a href="/login"> Login</a>
        </button>
        <% } %>
      </div>
    </nav>
  </body>
</html>
